{% extends 'homebase.html' %}

{% block title %} Hakkımızda-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block slider %} {% include 'slider.html' %} {% endblock %}


{% block content %}
        <div class="section">
            <div class="container">
                <div align="center">
                    <br><br><br><br>
                    <p><h1>Aradığınız içerik bulunamadı</h1></p>
                    <br><br><br><br>


                </div>
            </div>
        </div>

{% endblock %}
