{% extends 'homebase.html' %}

{% block title %} {{ profile.user_name }}  Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}
{% block slider %} {% include 'slider.html' %} {% endblock %}


{% block content %}



    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-md-9">
                    <div class="section-title">
                        <h4 class="title"> Şifre Değiştir </h4>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: darkcyan; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: gray"> {{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: #0b2e13">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                                <a class="btn btn-lg btn-circle btn-outline-new-white" href="/user/update">Değişiklikleri Kaydet</a>
                    </form>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
