<div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="btn btn-lg btn-circle btn-outline-new-white" href="/user/">Profilim</a>
        <a class="btn btn-lg btn-circle btn-outline-new-white" href="/user/comments">Yorumlarım</a>
        <a class="btn btn-lg btn-circle btn-outline-new-white" href="/user/comments">Mekan Fotoğraflarım</a>
        <a class="btn btn-lg btn-circle btn-outline-new-white" href="/user/comments">Favorilerim</a>


    </div>
</div>